## 리스트와 관련 함수

In [ ]:
colors = list()
colors

In [ ]:
colors.append('red')
colors

In [ ]:
colors.append('green')  # 리스트에 해당 내용 추가

In [ ]:
colors.append('blue')

In [ ]:
colors.append('yellow')

In [ ]:
colors

In [ ]:
colors.remove('red')
colors

In [ ]:
a = [3, 6, 1, 2, 8]
a.sort()   # sort 함수는 오름차순으로 정렬한다
a

In [ ]:
b = [3, 6, 1, 2, 8]
f = sorted(b)  # sorted 함수도 오름차순으로 정렬, sorted() 는  sort 와 달리 리턴 값이 있어서 변수에 저장해야 함
f

In [ ]:
a.sort(reverse=True)  # reverse = True 는 내림차순으로 정렬해준다.
a

In [ ]:
f = sorted(b, reverse=True)  # sorted 에서도 활용도 마찬가지
f

In [ ]:
max(a)  # 리스트 원소의 최댓값

In [ ]:
min(a)  # 리스트 원소의 최솟값

In [ ]:
sum(a)  # 리스트 원소의 합 함수

## 실습(다시 풀기)

In [10]:
#number = input("Enter a number:")
num_lst = []
sum = 0

while True:   # while True 의 정확한 기능이 뭐임..?
    number = input("Enter a number:")
    if number == 'done':
        break
    num_lst.append(int(number))

for i in num_lst:
    sum += i
    
average = sum / len(num_lst)
maximum = max(num_lst)
minimum = min(num_lst)

print('평균:', average, '최댓값:', maximum, '최솟값:', minimum)

Enter a number:7
Enter a number:2
Enter a number:9
Enter a number:3
Enter a number:5
Enter a number:done
평균: 5.2 최댓값: 9 최솟값: 2

## 튜플

In [12]:
## 튜플 = 리스트와 유사하지만, 값을 수정할 수 없게 고정되어있는 배열(읽기만 가능하다)

t = 1, 2, 3  # 튜플 패킹: 여러 데이터를 튜플로 묶는 것
t
type(t)

tuple

In [13]:
tu = tuple(range(1, 7))  # tuple() 함수로 묶어서 튜플 생성 가능
tu

(1, 2, 3, 4, 5, 6)

In [14]:
tu[0]

1

In [15]:
tu[0] = 3  # 튜플은 인덱스로 접근해서 수정하려고 하면 수정 불가 메시지가 뜬다

TypeError: 'tuple' object does not support item assignment

In [18]:
a = tuple()  # 튜플 언패킹?
1, 2, 3 = a
print(a)

SyntaxError: can't assign to literal (<ipython-input-18-ece5d9fb09b0>, line 2)

## 집합(set)

In [19]:
s = {}
type(s)

dict

In [20]:
s1 = {3, 4, 5, 7, 3}  # 중복되는 원소는 딕셔너리에서 통합되어서 나온다
s1

{3, 4, 5, 7}

In [21]:
word = 'hello' * 2
word

'hellohello'

In [22]:
wlst = list(word)
wlst

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [23]:
s3 = set(wlst)   # 리스트의 원소를 가지고도 딕셔너리를 만들 수 있다
s3

{'e', 'h', 'l', 'o'}

In [24]:
s4 = tuple(s3)  # 딕셔너리를 튜플의 형태로 변환할 수 있다. = tuple() 함수 사용
s4

('h', 'o', 'e', 'l')

In [25]:
s = {1, 2, 3, 4, 5, 3, 4}
s

{1, 2, 3, 4, 5}

#### add 함수 = 집합에 원소를 추가

#### remove 함수 = 집합의 원소를 삭제

#### update 함수 = 집합에 값을 여러 개 추가

#### discard 함수 = 원소 삭제인데 remove 와 다름

## 딕셔너리(dict)

In [ ]:
# key:value 쌍으로 이루어져있음

In [26]:
d = dict()
d

{}

In [27]:
d['kim'] = 1  # key 에 대한 value 추가
d

{'kim': 1}

In [29]:
d['park'] = 3
d

{'kim': 1, 'park': 3}

In [30]:
d['yoon'] = 2
d

{'kim': 1, 'park': 3, 'yoon': 2}

In [31]:
d.keys()  # key 값만 갖고 오는 keys() 함수

dict_keys(['kim', 'park', 'yoon'])

In [32]:
d.values() # value 값만 갖고 오는 value() 함수

dict_values([1, 3, 2])

In [49]:
d.items() # key 와 value 를 튜플로 묶은 값을 반환하는 items() 함수

dict_items([('yoon', 2)])

In [51]:
del d['park']

KeyError: 'park'

In [37]:
## 실습 1)
### 방법 1
for v in d.values():
    print(v)

3
2

In [39]:
### 방법 2
for k in d:  # 딕셔너리 자체에 for 문을 사용하면 k는 key 값이 된다.
    print(d[k])

3
2

In [40]:
### 방법 3
for item in d.items():
    k,v = item
    print(v)

3
2

In [45]:
## 방법 4
for k, v in d.items():
    print(v)

3
2